{{>header}}

    <div id="slide6" class="slide6">
        <div class="agraCfa">
            <h1>Agra CFA</h1>
            <h3>CFA RATE TIN</h3>
            <span id="cfaRate">{{dataTin}}</span>
            <h1>Agra CFA</h1>
            <h3>CFA RATE TIN</h3>
            <span id="cfaRate">{{dataPouch}}</span>
        </div>
        
        <div class="agraDirect">
            <h1>Agra Direct</h1>
            <h3>Direct Rate</h3>
            <span id="directRate">kjh</span>
        </div>
    </div>
    {{>footer}}