{{>header}}

<div id="slide3" class="slide3">
            <h1>CFA RATES AS PER BELOW</h1>
            <form action="/prices">
            <div class="values">
                <h1>AGRA</h1>
                <input id="agra" name="agra" type="number" required >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input id="chandighar" name="chandighar" type="number" required   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input id="damtal" name="damtal" type="number" required   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input id="dehradun" name="dehradun" type="number" required   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input id="ExPlant" name="ExPlant" type="number" required   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input id="delhi" name="delhi" type="number" required   >
            </div>
            <button>Next</button>
        </div>
        </form>
        {{>footer}}