{{>header}}

<div id="slide3" class="slide3">
            <h1>CFA RATES AS PER BELOW</h1>
            <form action="/prices">
            <div class="values">
                <h1>AGRA</h1>
                <input id="agracfa" name="agracfa" type="text" required >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input id="chandigharcfa" name="chandigharcfa" type="text" required   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input id="damtalcfa" name="damtalcfa" type="text" required   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input id="dehraduncfa" name="dehraduncfa" type="text" required   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input id="ExPlantcfa" name="ExPlantcfa" type="text" required   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input id="delhicfa" name="delhicfa" type="text" required   >
            </div>
            <button>Next</button>
        </div>
        </form>
        {{>footer}}