{{>header}}
    <div class="container">
        <div class="slide1">
        <form id="okok" action="/frigitRates">
        <h1 id="date">HELLO</h1>
        <label id="hh" for="looseprice">Enter LOOSE PRICE OF TODAY</label>
        <input required type="text" name="loose" id="looseprice">
        <button>NEXT</button>
        </form>
        <script>
            
    </div> 
    {{>footer}}