{{>header}}   
         <div class="selectoptions">
            <h1>select Options</h1>
            <form action="/cfa">
            <button>CFA RATES</button>
            </form>
            <form action="/direct">
            <button>Direct Rates</button>
            </form>    
        </div>
{{>footer}}