{{>header}}
        <div id="slide2" class="slide2">
            <h1>FREIGIT RATES AS PER BELOW</h1>
            <form action="/selectOptions" method="get">
            <div class="values">
                <h1>AGRA</h1>
                <input id="agraFrigit" name="agraFrigit" type="number" >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input id="chandigharFrigit" name="chandigharFrigit" type="number"   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input id="damtalFrigit" name="damtalFrigit" type="number"   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input id="dehradunFrigit" name="dehradunFrigit" type="number"   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input id="ExPlantFrigit" name="ExPlantFrigit" type="number"   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input id="delhiFrigit" name="delhiFrigit" type="number"   >
            </div>
            <button>Next</button>
            </form>
        </div>
{{>footer}}