{{>header}}
        <div id="slide2" class="slide2">
            <h1>FREIGIT RATES AS PER BELOW</h1>
            <form action="/selectOptions" method="get">
            <div class="values">
                <h1>AGRA</h1>
                <input id="agra" name="agra" type="number" >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input id="chandighar" name="chandighar" type="number"   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input id="damtal" name="damtal" type="number"   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input id="dehradun" name="dehradun" type="number"   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input id="ExPlant" name="ExPlant" type="number"   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input id="delhi" name="delhi" type="number"   >
            </div>
            <button>Next</button>
            </form>
        </div>
{{>footer}}