{{>header}}
    <div id="slide5" class="slide5">
            <form id="costs" action="/selectState">
            <div class="tinPiece">    
        <h1>Packing Cost Of Tin Below</h1>
        <div class="values">
        <h2><label for="packingCostTin">Packing Cost</label></h2>
        <input type="number" id="packingCostTin" name="packingCostTin"  required>
        </div>
        
        <div class="values">
        <h2><label for="intrestTin">Intrest</label></h2>
        <input type="number" id="intrestTin" name="intrestTin" required  >
        </div>  
        </div>

        <div class="PouchPiece">
            <h1>Packing Cost Of Pouch Below</h1>
            
            <div class="values">
                <h2><label for="packingCostPouch">Packing Cost</label></h2>
            <input type="number" id="packingCostPouch" name="packingCostPouch" required >
            </div>
            
            <div class="values">
            <h2><label for="intrestPouch">Intrest</label></h2>
            <input type="number" id="intrestPouch" name="intrestPouch" required  >
            </div>
            </div>  
            <button>Next</button>   
        </form>
    </div>

    {{>footer}}