{{>header}}
<div id="slide4" class="slide4">
            <h1>Direct RATES AS PER BELOW</h1>
            <form action="/prices"></form>
            <div class="values">
                <h1>AGRA</h1>
                <input id="agradirect" name="agradirect" type="text" required >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input id="chandighardirect" name="chandighardirect" type="text" required   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input id="damtaldirect" name="damtaldirect" type="text" required   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input id="dehradundirect" name="dehradundirect" type="text" required   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input id="ExPlantdirect" name="ExPlantdirect" type="text" required   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input id="delhidirect" name="delhidirect" type="text" required  >
            </div>
            <button>Next</button>
        </div>

{{>footer}}
