{{>header}}
    <div class="selectState">
            <h1>Select States</h1>
            <form action="/results">
            <button  name="state" value="agra">Agra</button>
            <button name="state" value="damtal">Damtal</button>
           <button name="state" value="dehradun">Dehradun</button>
            <button name="state" value="chandighar">Chandighar</button>
            <button name="state" value="ExPlant">Explant</button>
            <button name="state" value="delhi">Delhi</button>
            </form>
    </div>

{{>footer}}