{{>header}}
    <div class="selectState">
            <h1>Select States</h1>
            <a href="/agra"><button>Agra</button></a>
            <a href="/damtal"><button>Damtal</button></a>
            <a href="/dehradun"><button>Dehradun</button></a>
            <a href="/chandighar"><button>Chandighar</button></a>
            <a href="/explant"><button>Explant</button></a>
            <a href="/delhi"><button>Delhi</button></a>
    </div>

{{>footer}}